<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbt.batro.tinhtrangthietbi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taikhoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScannerQRCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baocaotinhtrangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tinhtrangthietbi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhongMayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChitietphongmayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DanhSachMayTinhActivity" />
        <activity android:name=".BaoCaoThietBiKhacActivity"></activity>
    </application>

</manifest>